@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
    url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
}


@screen md {
    .mapboxgl-ctrl-top-right {
        top: 22%;
        right: 1em;
    }
}

@layer utilities {
    .legend-background {
        background-color: rgba(255, 255, 255, 0.7);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    .marker {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        cursor: pointer;
    }

    .legend-marker {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .legend-srr {
        border: none;
        border-top: 1px dotted;
        background-color: #fff;
        height: 5px;
        border-radius: unset
    }
}

/* Dropdown Content (Hidden by Default) */
.BaseMapPicker__dropdownContent {
    display: none;
}

.BaseMapPicker__show {
    display: block;
}

.BaseMapPicker__itemBtnGrp {
    overflow: hidden;
}